@using LeadSpot.Models
@model List<User>

<div class="container">
    <table class="table table-hover table-bordered mt-5">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Número</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        @if (Model != null && Model.Any())
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Number</td>
                    <td>@user.Status</td>
                    <td>
                        <a asp-action="Detalhes" asp-controller="Home" class="btn btn-warning">Detalhes</a>
                        <a asp-action="Editar" asp-controller="Home" class="btn btn-info">Editar</a>
                        <a asp-action="Remover" asp-controller="Home" class="btn btn-danger">Remover</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p class="mt-5 text-center">Nenhum usuário encontrado!</p>
        }
        </tbody>
    </table>
</div>